@charset "UTF-8";
@font-face {
    font-family: "retro";
    src: url(./font/Retro\ Gaming.ttf) format(truetype);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "retro";  
}

body, html {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 100vw;
    height: 21.875rem;
    background-image: url(./image/background-de-luta.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.box-lutador {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    left: 391px;
    width: 6.875rem;
    height: 4.9375rem;
}

.text-number-user {
    position: absolute;
    width: 2.625rem;
    height: 1.5625rem;
    color: #FFF;
    text-align: center;
    font-family: "retro"; 
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lutador-user {
    position: absolute;
    display: flex;
    flex-direction: row;
    background: lightgray 0px -0.144px / 88.333% 100.364% no-repeat;
    border: 1px solid #FFFfff;
    width: 6.875rem;
    height: 4.9375rem;
    left: -63px;
}

img {
    width: 6.875rem;
    height: 4.9375rem;
}

.barra-vida {
    width: 12.9375rem;
    height: 0.4375rem;
    background-color: #91caf7;
    fill: #91CAF7;
    stroke-width: 1px;
    stroke: #FFF;
    position: absolute;
    left: 47px;
    top: 29px;
    border-bottom-right-radius: 25px;
}


.name-do-user-hero > input {
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid white;
    left: 49px;
    top: 61px;
    color: white;
    font-size: 1rem;
    width: 10.75rem;
    height: 1.1875rem;
}

.box-lutador2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    left: 392px;
    width: 6.875rem;
    height: 4.9375rem;
}

.box-lutador2 > .lutador-user {
    position: absolute;
    display: flex;
    flex-direction: row;
    background: lightgray 0px -0.144px / 88.333% 100.364% no-repeat;
    border: 1px solid #FFFfff;
    width: 6.875rem;
    height: 4.9375rem;
    left: 528px;
    top: -80px;
}

.box-lutador2 > .lutador-user > img {
    width: 6.875rem;
    height: 4.9375rem;
}

#barra-vida2 {
    position: absolute;
    display: block;
    width: 12.9375rem;
    height: 0.4375rem;
    background-color: #91caf7;
    fill: #91CAF7;
    stroke-width: 1px;
    stroke: #FFF;
    left: 321px;
    top: -50px;
    border-bottom-left-radius: 25px;
}

.name-vilao {
    position: absolute;
    left: 345px;
    top: -27px;
    color: #FFF;
    text-align: center;
    font-family: "retro"; 
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10.75rem;
    height: 1.1875rem;
    text-decoration: underline white;
}

.barra-bottom {
    position: absolute;
    left: 400px;
    top: -22px;
    border-bottom: 2px solid #FFFfff;
}

.text-number-vilao {
    position: absolute;
    top: -80px;
    left: 462px;
    width: 2.625rem;
    height: 1.5625rem;
    color: #FFF;
    text-align: center;
    font-family: "retro"; 
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vesus-lutem {
    position: absolute;
    left: 626px;
    top: 1px;
    width: 6.6875rem;
    height: 3.4375rem;
    background: linear-gradient(180deg, #91CAF7 0%, #2DB63A 97.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "retro"; 
    font-size: 3.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#container, .content-lutadores {
    position: relative;
    display: flex;
}

.box-jogador-user {
    position: relative;
    display: flex;
    width: 500px;
}

.lutador-user-hype {
    position: absolute;
    left: 380px;
    top: -38px;
}

.lutador-user-hype > img {
    width: 15.875rem;
    height: 11.40113rem;
}

.box-jogador-robo {
    position: relative;
    display: flex;
    width: 500px;
    height: 500px;
}

.lutador-robo-hype {
    position: absolute;
    left: 720px;
    top: -48px;
}

.lutador-robo-hype > img {
    width: 15.875rem;
    height: 13.8125rem;
}

.power-ataque {
    position: absolute;
    left: 380px;
    top: 162px;
    width: 16.1875rem;
    height: 1.125rem;
}

.power-ataque > input {
    width: 16.1875rem;
    height: 1.125rem;
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
}

.lutem-butom-batalhar {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(180deg, #ff4d00 0%, #000000 97.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lutem-butom-batalhar:hover {
    background: linear-gradient(180deg, #f56d33 0%, #000000 97.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#barra-vida-3 {
    display: none;
    position: absolute;
    width: 12.9375rem;
    height: 0.4375rem;
    background: linear-gradient(to left, #91CAF7 75%, #ffffff26 50%);
    fill: #91CAF7;
    stroke-width: 1px;
    stroke: #FFF;
    left: 713px;
    top: 29px;
    border-bottom-left-radius: 25px;
}

#barra-vida-4 {
    display: none;
    position: absolute;
    width: 12.9375rem;
    height: 0.4375rem;
    background: linear-gradient(to left, #91CAF7 55%, #ffffff26 50%);
    fill: #91CAF7;
    stroke-width: 1px;
    stroke: #FFF;
    left: 713px;
    top: 29px;
    border-bottom-left-radius: 25px;
}

#barra-vida-5 {
    display: none;
    position: absolute;
    width: 12.9375rem;
    height: 0.4375rem;
    background-color: #ffffff22;
    border: 1px solid #000000;
    fill: #91CAF7;
    stroke-width: 1px;
    stroke: #FFF;
    left: 713px;
    top: 29px;
    border-bottom-left-radius: 25px;
}

#barra-vida-6 {
    position: absolute;
    display: none;
    width: 12.9375rem;
    height: 0.4375rem;
    background-color: #ffffff22;
    border: 1px solid #000000;
    fill: #91CAF7;
    stroke-width: 1px;
    stroke: #FFF;
    left: 438px;
    top: 29px;
    border-bottom-right-radius: 25px;
}

#ryu-user-soco {
    position: absolute;
    display: none;
    width: 25.875rem;
    height: 12.40113rem;
    left: 420px;
    top: -44px;
    background-image: url(image-frame/ryump-1.png);
    background-repeat: no-repeat;
    background-size: 19.875rem;
    animation: luta 650ms steps(8) infinite;
}

@keyframes luta {
    0% {
        background-image: url(./image-frame/ryump-1.png);
    }
    15% {
        background-image: url(./image-frame/ryump-2.png);
    }
    30% {
        background-image: url(./image-frame/ryump-3.png);
    }
    45% {
        background-image: url(./image-frame/ryump-4.png);
    }
    60% {
        background-image: url(./image-frame/ryump-5.png);
    }
    75% {
        background-image: url(./image-frame/ryump-6.png);
    }
    90% {
        background-image: url(./image-frame/ryump-7.png);
    }
    105% {
        background-image: url(./image-frame/ryump-8.png);
    }
}

#escudo-defender {
    position: absolute;
    display: none;
    left: 680px;
    top: -65px;
    width: 15.875rem;
    height: 25.40113rem;
    background-image: url(./image/makoto-defender2.0.gif);
    background-size: 15rem;
    background-repeat: no-repeat;
}

#vilao-soco {
    position: absolute;
    display: none;
    left: 580px;
    top: -58px;
    width: 35.875rem;
    height: 25.40113rem;
    background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame1.png);
    background-size: 30rem;
    background-repeat: no-repeat;
    animation: soco 1s steps(24) infinite;
}

@keyframes soco {
    0% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame1.png);
    }
    4.166666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame2.png);
    }
    8.333333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame3.png);
    }
    12.5% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame4.png);
    }
    16.66666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame5.png);
    }
    20.83333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame6.png);
    }
    25% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame7.png);
    }
    29.16666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame8.png);
    }
    33.33333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame9.png);
    }
    37.5% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame10.png);
    }
    41.66666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame11.png);
    }
    45.83333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame12.png);
    }
    50% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame13.png);
    }
    54.16666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame14.png);
    }
    58.33333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame15.png);
    }
    62.50000000000001% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame16.png);
    }
    66.66666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame17.png);
    }
    70.83333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame18.png);
    }
    75.00000000000001% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame19.png);
    }
    79.16666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame20.png);
    }
    83.33333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame21.png);
    }
    87.50000000000001% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame22.png);
    }
    91.66666666666667% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame23.png);
    }
    95.83333333333334% {
        background-image: url(./image-frame/frame-makoto-stance/frame-soco/frame24.png);
    }
}

#derrotado {
    position: absolute;
    display: none;
    left: 678px;
    top: -69px;
    width: 25.875rem;
    height: 25.40113rem;
    background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame28.png);
    background-size: 24.5rem;
    background-repeat: no-repeat;
    animation: derrota 5s steps(28);
}

@keyframes derrota {
    0% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame1.png);
    }
    3.571428571428571% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame2.png);
    }
    7.142857142857143% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame3.png);
    }
    10.71428571428571% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame4.png);
    }
    14.28571428571428% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame5.png);
    }
    17.85714285714285% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame6.png);
    }
    21.42857142857142% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame7.png);
    }
    24.99999999999999% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame8.png);
    }
    28.57142857142856% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame9.png);
    }
    32.14285714285713% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame10.png);
    }
    35.7142857142857% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame11.png);
    }
    39.28571428571427% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame12.png);
    }
    42.85714285714284% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame13.png);
    }
    46.42857142857141%{
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame14.png);
    }
    49.99999999999998% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame15.png);
    }
    53.57142857142855% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame16.png);
    }
    57.14285714285712% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame17.png);
    }
    60.71428571428569% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame18.png);
    }
    64.28571428571426% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame19.png);
    }
    67.85714285714284% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame20.png);
    }
    71.42857142857141% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame21.png);
    }
    74.99999999999998% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame22.png);
    }
    78.57142857142855% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame23.png);
    }
    82.14285714285712% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame24.png);
    }
    85.71428571428569% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame25.png);
    }
    89.28571428571427% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame26.png);
    }
    92.85714285714284% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame27.png);
    }
    96.42857142857141% {
        background-image: url(./image-frame/frame-makoto-stance/frame-derrotado/frame28.png);
    }
}   

#box-dados-user {
    position: relative;
    width: 250px;
    height: 345px;
    padding: 10px;
    left: 21px;
    top: -655px;
    color: #A454AB;
    background-color: #0A0B0D;
    border: 2px solid #91CAF7;
    box-shadow: 2px 2px 0.5px #0000004b;
    border-radius: 10px;
}

#box-dados-user > h1 {
    font-size: 15px;
    text-align: justify;
    text-decoration: underline;
    text-shadow: 1px 0.5px 0.5px #ffffff;
}

#box-dados-user > p {
    position: relative;
    top: 15px;
}

#You-gain {
    position: absolute;
    display: none;
    left: 10px;
    top: 10px;
    width: 20rem;
    height: 20rem;
}

#You-gain > .ryu-win {
    position: absolute;
    left: 395px;
    top: 55px;
    width: 15rem;
    height: 15rem;
}

#You-gain > .ganhador-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(169%, -50%);
    width: 15rem;
    height: 15rem;
}

#You-gain > .sim-repete2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(620%, 135%);
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}

#defender-ryu {
    position: absolute;
    display: none;
    width: 25rem;
    height: 25rem;
    left: 450px;
    top: -50px;
    background-image: url(./image/ryu-block.gif);
    background-repeat: no-repeat;
    background-size: 9rem;
}

#derrotado-ryu {
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: 410px;
    top: 105px;
    background-image: url(./image-frame/frame-ryu/frame25.png);
    background-repeat: no-repeat;
    background-size: 18rem;
    animation: defender 5s steps(25);
}


@keyframes defender {
    0% {
        background-image: url(./image-frame/frame-ryu/frame1.png);
    }
    4.166666666666667% {
        background-image: url(./image-frame/frame-ryu/frame2.png);
    }
    8.333333333333334% {
        background-image: url(./image-frame/frame-ryu/frame3.png);
    }
    12.5% {
        background-image: url(./image-frame/frame-ryu/frame4.png);
    }
    16.66666666666667% {
        background-image: url(./image-frame/frame-ryu/frame5.png);
    }
    20.83333333333334% {
        background-image: url(./image-frame/frame-ryu/frame6.png);
    }
    25% {
        background-image: url(./image-frame/frame-ryu/frame7.png);
    }
    29.16666666666667% {
        background-image: url(./image-frame/frame-ryu/frame8.png);
    }
    33.33333333333334% {
        background-image: url(./image-frame/frame-ryu/frame9.png);
    }
    37.5% {
        background-image: url(./image-frame/frame-ryu/frame10.png);
    }
    41.66666666666667% {
        background-image: url(./image-frame/frame-ryu/frame11.png);
    }
    45.83333333333334% {
        background-image: url(./image-frame/frame-ryu/frame12.png);
    }
    50% {
        background-image: url(./image-frame/frame-ryu/frame13.png);
    }
    54.16666666666667% {
        background-image: url(./image-frame/frame-ryu/frame14.png);
    }
    58.33333333333334% {
        background-image: url(./image-frame/frame-ryu/frame15.png);
    }
    62.50000000000001% {
        background-image: url(./image-frame/frame-ryu/frame16.png);
    }
    66.66666666666667% {
        background-image: url(./image-frame/frame-ryu/frame17.png);
    }
    70.83333333333334% {
        background-image: url(./image-frame/frame-ryu/frame18.png);
    }
    75.00000000000001% {
        background-image: url(./image-frame/frame-ryu/frame19.png);
    }
    79.16666666666667% {
        background-image: url(./image-frame/frame-ryu/frame20.png);
    }
    83.33333333333334% {
        background-image: url(./image-frame/frame-ryu/frame21.png);
    }
    87.50000000000001% {
        background-image: url(./image-frame/frame-ryu/frame22.png);
    }
    91.66666666666667% {
        background-image: url(./image-frame/frame-ryu/frame23.png);
    }
    95.83333333333334% {
        background-image: url(./image-frame/frame-ryu/frame24.png);
    }
    100% {
        background-image: url(./image-frame/frame-ryu/frame25.png);
    }
}

#You-failed {
    position: absolute;
    display: none;
    left: 10px;
    top: 10px;
    width: 20rem;
    height: 20rem;
}

#You-failed > .perded {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(169%, -95%);
    width: 15rem;
    height: 15rem;
}

#You-failed > .sim-repete {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(615%, 60%);
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}

#makoto-win {
    position: absolute;
    width: 25rem;
    height: 25rem;
    left: 695px;
    top: 71px;
    background-image: url(./image/makoto-vitoria.webp);
    background-repeat: no-repeat;
    background-size: 18rem;
}